.wrapper
	display: flex

@media (max-width: $media-md)
	.wrapper
		flex-direction: column

.wrapper__right
	width: 100%

.container
	width: 90%
	max-width: $container-max-width
	margin: 0 auto

.container-fluid
	width: 100%
	margin: 0 auto
