.title-box
  h2
    white-space: nowrap
    line-height: .2
    letter-spacing: 5px

  span
    font-size: .85rem

.title-box--deco
  display: flex
  align-items: center
  justify-content: center

  &::before
    content: ''
    display: inline-block
    width: 50%
    margin-right: 2rem
    height: 2px
    background: $gray-5

  &::after
    content: ''
    display: inline-block
    width: 50%
    margin-left: 2rem
    height: 2px
    background: $gray-5
