.footer
	padding-top: 2rem
	z-index: -1
	bottom: 0


@media (max-width: $media-md)
	.footer
		margin-bottom: 55px

.footer-content
	display: flex

@media (max-width: $media-lg)
	.footer-content
		flex-direction: column

// Left about
.footer-item
	display: flex
	justify-content: center

.footer-item__about
	display: block
	flex: 30%


// Right lead txt&img
.footer-item__lead
	flex: 60%

.copyright

	border-top: 2px solid $gray-3


.copyright__inner
	font-size: .7rem
	display: flex
	justify-content: space-between
	letter-spacing: 2px

	padding: .8rem 0
