.hero
	position: relative
	height: 600px
	height: 90vh
	padding: 1rem 2rem
	background: url(../imgs/hero/hero-img.jpg) no-repeat top fixed
	background-size: cover
	background-position: center
	display: flex
	justify-content: center
	align-items: center
	flex-direction: column

	&::after
		top: 0
		left: 0
		position: absolute
		content: ''
		display: block
		width: 100%
		height: 100%
		background: black
		opacity: .1

	&::before
		bottom: 0
		left: 0
		position: absolute
		content: ''
		display: block
		width: 100%
		height: 150px
		background: rgb(233,236,239)
		opacity: .2
