.hero
	position: relative
	min-height: 600px
	padding: 1rem 2rem
	background: url(../imgs/hero/hero-img.jpg) no-repeat top fixed
	background-size: cover
	display: flex
	justify-content: center
	flex-direction: column

	&::after
		top: 0
		left: 0
		position: absolute
		content: ''
		display: block
		width: 100%
		height: 100%
		background: black
		opacity: .6



.hero__conntent
	z-index: 1
	color: $gray-1
	max-width: 600px

	h2
		font-size: calc(1em + 1vw)
		// min, preferred, max
		font-size: clamp(1rem, 90vw, 2.5rem)

	p
		margin-bottom: 2rem

.hero.content
	margin-left: 14em
	padding-left: 5%
	max-width: 100%
	margin-right: 0

@media (max-width: 48rem)
	.hero.content
		margin-left: 0
