.hero
	text-align: center
	position: relative
	height: 600px
	padding: 1rem 2rem
	background: url(../imgs/hero/hero-img.jpg) no-repeat top fixed
	background-size: cover
	display: flex
	justify-content: center
	align-items: center
	flex-direction: column

	&::after
		top: 0
		left: 0
		position: absolute
		content: ''
		display: block
		width: 100%
		height: 100%
		background: black
		opacity: .6



.hero__conntent
	margin: 0 auto
	z-index: 1
	color: $gray-1



	h2
		letter-spacing: 2px
		line-height: 1.55
		font-size: calc(1em + 2vw)
		// min, preferred, max
		margin-bottom: 2rem

@media (max-width: $media-md)
	.hero__conntent
		h2
			font-weight: normal
