.post
  margin-top: 8rem
  max-width: $post-max-width
  margin-bottom: 2rem

@media (max-width: $media-md)
  .post
    margin-top: 0

.post__hero
  width: 100%
  max-height: 300px

.post__title
  font-size: $font-size-xxxxxxlarge
