.project-info
  display: flex
  margin: 2rem 0


  li
    margin-bottom: 1.5rem

  h3
    letter-spacing: 2px
    color: $gray-6
    margin-top: 0

  span
    color: $gray-9
    letter-spacing: 1px

.project-info__hero
  width: 100%

.project-info__details
  width: 100%
  max-width: 300px
  max-height: 300px


.project-info__description
  width: 80%
  margin-right: 2rem

@media (max-width: $media-lg)
  .project-info
    flex-direction: column

  .project-info__details
    margin-top: 2rem



.project-info__details
  font-size: 90%
