.related
	padding: 1rem 0
	padding-bottom: 2rem
	text-align: center
	border-bottom: 2px solid $gray-3

	.container
		padding-top: 2rem
		border-top: 4px dotted $gray-3

	h2
		margin-bottom: 2rem

	h3
		margin: 0
		margin-top: 1.5rem

.related-posts
	display: flex
	justify-content: center


	img
		margin: 0 auto
		margin-bottom: 1rem
		max-width: 100%
		transform: scale(1.05)

.related-posts__item
	margin: 0 1rem
	width: 100%


.related__content
