.sidebar
	display: flex
	padding: 2rem
	position: relative
	text-align: left
	min-width: 20%
	border-right: 2px solid $gray-3

.sidebar .hide
	display: none

.sidebar__contents
	position: sticky
	top: 3rem

	p
		font-size: 90%

	a
		color: $primary

.sidebar__logo
	font-size: 1.2rem

	img
		display: inline
		max-width: 50px

.sidebar__nav a
	transition: .3s
	display: flex
	align-items: center

	&::before
		content: ''
		display: inline-block
		width: 10px
		height: .1rem
		background: $primary
		margin-right: .5rem
		transition: .3s

	&:hover
		transform: translateX(10px)

		&::before
			height: 10px

	&:hover, &:focus
		text-decoration: none

.sidebar__nav__item--active
	background: red
	outline: 10px solid red

.sidebar__social
	width: 100%
	margin: 0 auto
	display: inline-block

	img
		max-width: 30px
		opacity: .2
		transition: .3s

		&:hover, &:active, &:target
			opacity: 1

.sub-sidebar
	display: none
	z-index: 100
	position: fixed
	bottom: 0
	left: 0
	justify-content: space-around
	background: $primary
	color: $gray-2
	padding: 1rem
	width: 100%

@media (max-width: $media-md)
	.sidebar__about
		text-align: center
		max-width: 80%
		margin: 0 auto
		margin-bottom: 2rem
		border-bottom: 2px solid $gray-8

	.sidebar__logo

			margin: 0 auto

	.sidebar__nav


	.sub-sidebar
		display: flex

	.sidebar a
		text-align: center
		padding: 0 .5rem
		display: inline

	.sidebar__social
		display: flex
		justify-content: center
		align-items: center
