{% include base.html %}

<div id="breadcrumbs" class="breadcrumbs-container">
  <div id="pageProgress" class="page-progress">

  </div>
  <nav class="breadcrumbs" id="breadcrumbs">
    {% assign crumbs = page.url | remove:'/index.html' | split: '/' %}
    <a href="{{ base }}">
      <div class="breadcrumbs__back">
        ←
      </div>
    </a>

    <div class="breadcrumbs__info">
      <a href="/">Home</a>
      {% for crumb in crumbs offset: 1 %}
      {% if forloop.last %}
      <span>»</span>
      <br class="breadcrumbs__newline">
      <em>{{ page.title-tc }}</em>
      {% else %}
      <span>»</span>
      <a href="
      {% assign crumb_limit = forloop.index | plus: 1 %}
      {% if page.layout == 'post' %}/categories{% endif %}{% for crumb in crumbs limit: crumb_limit %}{{ crumb | append: '/' | replace:'without-plugin/','without-plugins/' }}{% endfor %}">


        {{ crumb | replace:'-',' ' | remove:'.html' | capitalize }}</a>
      {% endif %}
      {% endfor %}
    </div>
  </nav>
</div>