<section class="event-section">
  <h2>Event區域</h2>
  <div class="event">
    <div class="event-item">
      <a href="#">
        <img src="{{ base }}/assets/imgs/placehold/1.jpg" alt="Site Logo">
      </a>
      <div class="event-item__content">
        <span>不重要的副標題</span>
        <a href="#">
          <h3>這裡放一些活動的標題</h3>
        </a>
        <p>近年來，在社會設計與通用設計的意識抬頭下，各個場所的設計系統都逐漸得到重視。台灣大學的校徽、陽明交通大學的設計案…。 </p>
      </div>
    </div>

    <div class="event-item">
      <a href="#">
        <img src="{{ base }}/assets/imgs/placehold/3.jpg" alt="Site Logo">
      </a>
      <div class="event-item__content">
        <span>不重要的副標題</span>
        <a href="#">
          <h3>這裡放一些活動的標題</h3>
        </a>
        <p>近年來，在社會設計與通用設計的意識抬頭下，各個場所的設計系統都逐漸得到重視。台灣大學的校徽、陽明交通大學的設計案…。 </p>
      </div>
    </div>

</section>