<section class="event-section">
  <div class="title-box">
    <h2>最新消息</h2>
    <span>Awesome News</span>
  </div>
  <div class="event">
    <div class="event-item">
      <a href="#">
        <img src="{{ base }}/assets/imgs/page/index/event/1.jpg" alt="Site Logo">
      </a>
      <div class="event-item__content">
        <span>不重要的副標題</span>
        <a href="#">
          <h3>這裡放一些活動的標題</h3>
        </a>
        <p>三角東東創立至今106天，專案，暫時到了一個段落。
          是你們的出現，讓這些的「酷東東」誕生，
          是你們的出現，讓設計的血液再次沸騰！
          辛苦三角東東的每一位成員，寒假即將到來🎉
          感謝， 張懂 教授，這段時間的加班指導！</p>
      </div>
    </div>

    <div class="event-item">
      <a href="#">
        <img src="{{ base }}/assets/imgs/page/index/event/2.jpg" alt="Site Logo">
      </a>
      <div class="event-item__content">
        <span>不重要的副標題</span>
        <a href="#">
          <h3>這裡放一些活動的標題</h3>
        </a>
        <p>近年來，在社會設計與通用設計的意識抬頭下，各個場所的設計系統都逐漸得到重視。台灣大學的校徽、陽明交通大學的設計案…。 </p>
      </div>
    </div>

</section>