<footer class="footer">
  <div class="footer-content">
    <div class="footer-item footer-item__about">
      <!-- <img src="{{ site.baseurl }}assets/group-logo.jpg" alt="Site Logo"> -->
      <h3>關於我們</h3>
      <p>希望，藉由一「臺中科技大學視覺識別系統優化」專案計畫，讓缺乏校園視覺識別系統的它能重獲新生，更能符合朝向國際化的願景前進。因此，團隊以「生活在一個具有美感與設計的教育環境」為目標，進行此項計畫。
      </p>
      <small class="copyright">&copy; {{ site.time | date: '%Y' }}. All rights reserved.</small>
    </div>



    <div class="footer-item footer-item__lead">
      <h3 class="footer-lead__txt">這裡要放一句結語激勵人心的結語之類的話ab</h3>
      <div class="footer-lead__img">
        <img class="footer-lead__img-1" src="{{ 'assets/imgs/footer/cell6.png' | relative_url }}" alt="Site Logo">
        <img class="footer-lead__img-2" src="{{ 'assets/imgs/footer/cell5.png' | relative_url }}" alt="Site Logo">
        <img class="footer-lead__img-3" src="{{ 'assets/imgs/footer/cell4.png' | relative_url }}" alt="Site Logo">
      </div>
    </div>
  </div>
</footer>