<footer class="footer">
  <div class="footer-content container">
    <div class="footer-item footer-item__about">
      <!-- <img src="{{ site.baseurl }}assets/group-logo.jpg" alt="Site Logo"> -->
      <h3>關於我們</h3>
      <p>讓缺乏校園視覺識別系統的它能重獲新生，更能符合朝向國際化的願景前進。因此，團隊以「生活在一個具有美感與設計的教育環境」為目標，進行此項計畫。
      </p>
    </div>
    <div class="footer-item footer-item__lead">
      <img src="{{ './assets/imgs/placehold.png' | relative_url }}" alt="Site Logo">

    </div>
  </div>
  <div class="copyright">
    <div class="copyright__inner container">
      <span>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</span>
      <span><a href="https://www.nutc.edu.tw/bin/home.php">國立臺中科大學生</a> ❤ 愛心製作</span>
    </div>
  </div>
</footer>