<footer class="footer">
  <div class="footer-content">
    <div class="footer-item footer-item__about">
      <h3>簡單介紹一下品牌吧</h3>
      <img src="./assets/placehold.png" alt="Brand Logo">
      <p>Lorem ipit et non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      <div class="related">
        <h3>相關聯的最新文章</h3>
        <ul class="related-posts">
          {% for post in site.related_posts limit:3 %}
          <li>
            <h3>
              <a href="{{ post.url }}">
                {{ post.title }}
                <small>{{ post.date | date_to_string }}</small>
              </a>
            </h3>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
    <div class="footer-item footer-item__lead">
      <h3>這裡要放一句結語激勵人心的結語之類的話ab</h3>
    </div>
    </div>



  <small class="copyright">© 2020. All rights reserved.</small>
</footer>
