{% capture bleed-status %}{{ include.bleed }}{% endcapture %}
{% capture figcaption-status %}{{ include.figcaption }}{% endcapture %}

{% assign var-bleed-status = bleed-status %}
{% assign var-figcaption-status = figcaption-status %}

{% if var-bleed-status == 'none' %}
{% else %}
{% assign bleed-class = 'image-figure--bleed' %}
{% endif %}

{% if var-figcaption-status == 'on' %}
{% assign figcaption-class = '' %}
{% else %}
{% assign figcaption-class = 'image-figure--figcaption-off' %}

{% endif %}

<figure class="image-figure {{ bleed-class }}">
  <img src="{{ base }}{{ include.url }}" alt="{{ include.description }}">
  <figcaption class="{{ figcaption-class }}">{{ include.description }}</figcaption>
</figure>