{% assign showRelatedPosts = 1 %}

{% capture posts %}
{% for post in site.posts %}
{% if post.url != page.url %}
{% assign matchingTags = "" | split: ","  %}

{% for tag in post.tags %}
{% assign currentPostTag = tag | downcase %}
{% assign tagsPage = page.tags | downcase %}
{% if tagsPage contains currentPostTag %}
{% assign matchingTags = matchingTags | push: currentPostTag %}
{% endif %}
{% endfor %}


{% assign tagsTotal = matchingTags.size %}

{% if tagsTotal < 10 %}
{% assign tagsTotal = tagsTotal | prepend: "0" %}
{% else %}
{% assign tagsTotal = tagsTotal  %}
{% endif %}

|
<article class="related__article">
  <strong class="related__article__count">{{ tagsTotal }} 個相同標籤</strong>
  <header>
    <h3>{{ post.title-tc }}</h3>
  </header>
  <section>
    <a href="{{ base }}{{ post.url }}">
      <img width="320" height="200" src="{{ post.image }}" class="img-fluid" alt="{{ post.image }}" />
    </a>
  </section>
  <small>{{ matchingTags | join: ", " }}</small>
</article>

{% endif %}
{% endfor %}
{% endcapture %}

{% assign relatedPosts = posts | split: '|' | sort | reverse %}
</header>


<div class="related">
  <div class="title-box title-box--deco">
    <div class="title-box__inner">
      <h2>相關文章</h2>
      <span>Related Posts</span>
    </div>
  </div>
  <div class="">
    {% for i in (0..showRelatedPosts) %}
    {{ relatedPosts[i] }}
    {% endfor %}

  </div>

</div>




{% assign tagsTotal = matchingTags.size %}

{% if tagsTotal < 10 %}
{% assign tagsTotal = tagsTotal | prepend: "0" %}
{% else %}
{% assign tagsTotal = tagsTotal  %}
{% endif %}