.pagination
  display: flex
  justify-content: center
  align-items: center
  font-family: inherit




.pagination-list
  padding: 0 .5rem

.pagination-item
  max-width: 200px
  padding: 1rem
  float: none
  white-space: nowrap

.pagination-selected
  font-size: 2rem
  font-style: normal
  font-weight: 500

.pagination-item--disable
	background: $light
	color: $dark
	border-color: $dark
