.related
	border-width: 2px
	border-color: $dark

	h2
		margin-bottom: 2rem

	h3
		margin: 0

.related-posts
	display: flex

	img
		min-width: 100%

	li
		border-radius: 5px
		margin: 0 1rem

		&:hover
			background: white

	img
		max-width: 200px

.related__content
	margin: 0 .5rem
	padding-bottom: .5rem
