a.sidebar-nav-item
  transition: .3s
  display: flex
  align-items: center

  &::before
    content: ''
    display: inline-block
    width: 10px
    height: .1rem
    background: $primary
    margin-right: .5rem
    transition: .3s

  &:hover
    transform: translateX(10px)

    &::before
      height: 10px

  &:hover, &:focus
    text-decoration: none

.sidebar a
  color: $primary

.sidebar-logo
  font-size: 1.2rem

  img
    padding-bottom: 2rem
    max-width: 100px
    margin: 0 auto
