---
layout: default
---

<div class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <span class="post-date">{{ page.date | date_to_string }}</span>
  {{ content }}
</div>
<div class="related">
  <h2>相關連文章</h2>
  <ul class="related-posts">
    {% for post in site.related_posts limit:3 %}
    <a href="{{ post.url }}">
      <li>
        <img src="{{ post.image | relative_url }}" alt="">
        <div class="related__content">
          <h3>{{ post.title }}</h3>
          <small>{{ post.date | date_to_string }}</small>
        </div>
      </li>
    </a>
    {% endfor %}
  </ul>
</div>